################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Call-centr/FileContentIndex/5e29965c-140a-48cb-b1cc-b88413638fa1.vsidx
/.vs/Call-centr/FileContentIndex/93330ecc-511c-4f4f-9487-0d6c373e0580.vsidx
/.vs/Call-centr/FileContentIndex/ff52cfad-8fd8-49b1-801d-d7046f9478b6.vsidx
/.vs/Call-centr/FileContentIndex/794ac4d9-5007-4141-b69f-c230e59d35fe.vsidx
