################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Call-centr/FileContentIndex/5e29965c-140a-48cb-b1cc-b88413638fa1.vsidx
